body {

    font-family: "Arial";
    background-color: black;
    color: white;
}

.wd-nav-tabs{
    color: rgb(29,161,242);
    padding: 0px;
}
.wd-nav-tabs li{
    list-style-type: none;
    display: inline-block;

}

.wd-nav-tabs .wd-selected{
    border-bottom: solid 4px rgb(29,161,242) ;
}

.wd-nav-tabs .wd-other{
    color: rgb(110, 118, 125);
    font-size:15px;
    padding:16px;


}
.wd-border-width{
     border-width: 20px 30px 20px 30px;;
}
.wd-rounded-corners-all-around {
 width: 80%;
 border-radius: 50px;
 background-color: #5A5A5A;
 color: white;
}

.wd-suggested-topics{
    font-size:13px;
    color: rgb(110, 118, 125);
}