body {

    font-family: "Arial";
    background-color: black;
    color: white;
}

.wd-nav-tabs{
    color: rgb(29,161,242);
    padding: 0px;
}
.wd-nav-tabs li{
    list-style-type: none;
    display: inline-block;

}

.wd-nav-tabs .wd-selected{
    border-bottom: solid 4px rgb(29,161,242) ;
}

.wd-nav-tabs .wd-other{
    color: rgb(110, 118, 125);
    font-size:15px;
    padding:16px;
.row {
    display: flex;
}

}
.wd-border-width{
     border-width: 20px 30px 20px 30px;;
}
.wd-rounded-corners-all-around {
 width: 80%;
 border-radius: 50px;
 background-color: #5A5A5A;
 color: white;
}

.wd-suggested-topics{
    font-size:13px;
    color: rgb(110, 118, 125);
}
.wd-under-text {
    display: flex;
    flex-direction: column;
}
.wd-tweet-txt {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.wd-settings {
    position: relative;
    right: 10px;
    top: 5px;
}
.wd-grey-tweet {
    font-size: 13px;
    color: #5F6368;
    font-weight: normal;
}

.wd-highlight-txt {
    font-size: 15px;
    padding-top: 2px;
    padding-left: 7px;
    color: #000000;
    font-weight: bold;
}

.wd-who-to-follow {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.wd-icon {
    font-size: 15px;
    padding-top: 2px;
    padding-left: 5px;
    color: #504f4f;
    font-weight: normal;
}
.wd-for-you {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline solid;
    text-decoration-color: #1DA1F2;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}
.wd-trending-news-more {
    color: #696969;
    font-weight: normal;
    font-size: 15px;
}

.wd-username-txt {
    font-size: 14px;
    color: #1e1e1e;
}
.wd-user-text {
    font-size: 14px;
    color: #9a9a9a;
    ;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}